:root {
    --mega-menu-navbar-background: #fff;
    --mega-menu-button-background: #428aff;
    --mega-menu-dropdown-color: #000;
    --mega-menu-item-color: #000;
    --mega-menu-dropdown-hover-color: #428aff;
    --mega-menu-item-hover-color: #428aff;
    --mega-menu-button-color: #fff;
    --mega-menu-button-background-hover: #3877db;
    --mega-menu-brand-color: #000;
    --mega-menu-brand-hover-color: #428aff;
}
 
 

.mega-menu-navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
}
.mega-menu-navbar {
    width: 100%;
    background: var(--mega-menu-navbar-background);
    z-index: 2;
    box-sizing: border-box;
}

.mega-menu-navbar, .buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
    .mega-menu-navbar ul {
        list-style: none;
    }
    .mega-menu-navbar a {
        text-decoration: none;
        
    }

.mega-menu-brand {
    font-weight: bolder;
    font-size: 1.5em;
    color: var(--mega-menu-brand-color);
}

    .mega-menu-brand:hover {
        font-weight: bolder;
        color: var(--mega-menu-brand-hover-color);
        
    }
.mega-menu-btn-primary {
    background: var(--mega-menu-button-background);
    color: var(--mega-menu-button-color);
}
    .mega-menu-btn-primary:hover {
        background: var(--mega-menu-button-background-hover);
    }

.mega-menu-btn {
    font-family: inherit;
    font-size: 1.1em;
    padding: 0.5em 1.3em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}



.mega-menu-mobile-btn {
    margin-left: 1em;
    border-radius: 5px;
    background: none;
    display: inline-block;
}

.mega-menu-mobile-btn span{
    font-size: 2.3em;
}

.mega-menu-dropdown > div, .mega-menu-sub-dropdown > div {
    cursor: pointer;
}
.mega-menu-dropdown {
    color: var(--mega-menu-dropdown-color);
}
    .mega-menu-dropdown a:hover {
        color: var(--mega-menu-dropdown-hover-color);
    }
    .mega-menu-dropdown a {
        color: var(--mega-menu-dropdown-color);
    }
.mega-menu-item {
    color: var(--mega-menu-item-color);
}
    .mega-menu-item a {
        color: var(--mega-menu-item-color);
    }
        .mega-menu-item a:hover {
            color: var(--mega-menu-item-hover-color);
        }


 
 

@media screen and (min-width: 800px) {
    .mega-menu-navbar{
        padding: 0 1.5em;
    }
    .mega-menu-dropdown > div{
        padding: 1.5em 1em;
    }
    .mega-menu{
        display: flex;
        justify-content: center;
    }
    .mega-menu-mobile-btn{
        display: none;
    }
    .mega-menu-item{
        background: #fff;
        position: absolute;
        top: 4.65em;
        left: 0;
        width: 100%;
        padding: 0 2em;
        overflow-y: scroll;
        transition: 0.4s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 2em;
    }

    .mega-menu-item > li:first-child{
        font-size: 1.1em;
        font-weight: bold;
        margin: 0;
    }

    .mega-menu-sub-dropdown > div span:first-child{
        font-weight: bold;
    }
    
    .mega-menu-dropdown > div{
        border-bottom: 3px #fff solid;
        transition: 0.3s;
    }

    .mega-menu-dropdown:hover > div{
        border-color: #000;
    }

    .mega-menu-dropdown li{
        margin-bottom: 1em;
    }

    .mega-menu-dropdown > div span:last-child, 
    .mega-menu-sub-dropdown > div{
        display: none;
    }

    /* Width */
    .mega-menu-item::-webkit-scrollbar{
        width: 8px;
    }
    /* Track */
    .mega-menu-item::-webkit-scrollbar-track{
        background: #f1f1f1;
    }
    /* Handle */
    .mega-menu-item::-webkit-scrollbar-thumb{
        background: #888;
    }

    /* Handle on hover */
    .mega-menu-item::-webkit-scrollbar-thumb:hover{
        background: #555;
    }

    /* Hide menu */
    .mega-menu-item{
        height: 0;
    }
    .mega-menu-dropdown:hover .mega-menu-item{
        height: 50vh;
        padding: 2em;
    }
}

/* Responsive Design */
@media screen and (max-width: 800px) {
    .mega-menu-navbar{
        padding: 1em 1.5em;
    }
    .mega-menu-container{
        background: #fff;
        position: absolute;
        top: 4.4em;
        left: 0;
        width: 100%;
        overflow-y: hidden;
        transition: 0.3s ease-in-out;
    }

    /* Width */
    .mega-menu::-webkit-scrollbar{
        width: 8px;
    }
    /* Track */
    .mega-menu::-webkit-scrollbar-track{
        background: #f1f1f1;
    }
    /* Handle */
    .mega-menu::-webkit-scrollbar-thumb{
        background: #888;
    }
    /* Handle on hover */
    .mega-menu::-webkit-scrollbar-thumb:hover{
        background: #555;
    }
    .mega-menu{
        padding: 0 1em 1em 1em;
        height: 100%;
        overflow-y: scroll;
    }
    .mega-menu li{
        font-weight: bold;
        font-size: 1.1em;
    }
    .mega-menu li > div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5em;
    }
    .mega-menu-item li{
        padding: 0 1em;
        font-size: 1em;
        font-weight: 400;
    }
    .mega-menu-item a{
        display: block;
        margin: 0.8em 0;
    }
    .mega-menu-item{
        display: none;
    }
    /* Toggle class for Javascript */
    .mega-menu-item-show{
        display: block;
    }
    .material-symbols-outlined{
        transition: 0.3s;
    }

    .mega-menu-dropdown>div, .mega-menu-sub-dropdown > div{
        cursor: pointer;
        padding: 0.5em;
    }
    .mega-menu-sub-menu {
        font-size: 0.9em;
        display: none;
    }
    /* Toggle class for Javascript */
    .mega-menu-sub-menu-show {
        display: block;
    }
    .mega-menu-dropdown:hover>div, .mega-menu-sub-dropdown:hover>div{
        background: #dbdbdb;
    }
    /* Toggle class for javascript */
    .icon-rotated {
        transform: rotate(90deg);
    }
    /* Hide menu */
    .mega-menu-container{
        height: 0;
    }
    /* Toggle class for javascript */
    .mega-menu-show{
        height: 50vh;
    }
}